/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Wrapper */
.addresses-wrapper {
  padding: 20px;
  overflow: hidden;
}

/* Address card */
.address {
  background: #FFE4C4;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  padding: 40px 20px;
  border-radius: 10px;
  font-style: normal;
  position: relative;
  width: 32%;
  margin: 1%;
  float: left;
}

/* First and last card */
.address:first-child {
  margin-left: 0;
  background: #F0FFC1;
}

.address:last-child {
  margin-right: 0;
  background: #B6FFDA;
}

/* Hover */
.address:hover {
  background: #F3F3F3;
}

/* Header */
.address__header {
  display: block;
  margin-bottom: 10px;
}

/* Icons */
.address__icon {
  width: 70px;
  float: left;
  margin-right: 10px;
}

.address__status {
  width: 32px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Delete button */
.address__delete-btn {
  background: #FF8E50;
  color: white;
  text-decoration: none;
  font-size: 36px;
  line-height: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 0 10px 0 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.address__delete-btn:hover {
  background: #FFD050;
}

/* Mobile */
@media (max-width: 767px) {
  .address {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

