.title {
  text-transform: uppercase;
}

.goals {
  color: red;
}

.list__item {
  background: yellow;
  font-style: italic;
}

ol {
  border: 1px solid red;
}

#main-title {
  color: green;
}

a[href$=".pdf"] {
  color: green;
  font-style: italic;
}

a {
  color: violet;
  text-decoration: none;
}

ul ul {
  text-transform: uppercase;
}

p a {
  color: magenta;
  background: mistyrose;
}

.bold {
  font-weight: bold;
}

li.bold {
  text-transform: uppercase;
}

.second-text,
.align-right {
  text-align: right;
  border: 2px solid blue;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}
